* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1010px;
  margin: 0 auto;
  padding: 64px 10px 0px;
}

.flex-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
  color: #4e5150;
  margin-bottom: 50px;
}

/* Order card */

.items {
  max-width: 383px;
  height: 535px;
  background: #f2f2f2;
  border-radius: 12px;
  padding: 33px;
}

.item {
  display: flex;
  margin-bottom: 31px;
}

.item-img {
  width: 135px;
  height: 135px;
  border-radius: 12px;
  margin-right: 15px;
}

.item-name {
  width: 163px;
  font-size: 16px;
  line-height: 20px;
  color: #4e5150;
  margin-bottom: 10px;
}

.item-price {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.item-price .price {
  font-size: 16px;
  color: #f2994a;
}

.item-price .discount {
  font-size: 12px;
  text-decoration-line: line-through;
  color: #4e5150;
}

.quantity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 134px;
  height: 52px;
  border: 1px solid #828282;
  border-radius: 12px;
}

.quantity .plus,
.quantity .minus {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  width: 21px;
  color: #828282;
  background: #e0e0e0;
  border-radius: 4px;
  font-size: 27px;
  cursor: pointer;
}

.order {
  margin-top: 95px;
}

.total {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  padding: 15px 0;
}

.total .value:nth-child(2) {
  font-size: 14px;
}

/* Form part */

h3 {
  font-size: 18px;
  color: #333333;
  margin-bottom: 15px;
}

form {
  position: relative;
  width: 466px;
}

.input-container {
  margin: 20px 0;
}

.input-container label {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  color: #4f4f4f;
}

.input-container .input-box {
  display: flex;
  padding: 5px 5px 5px 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 12px;
}

.input-box input {
  width: 91%;
  height: 42px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 16px;
}

.input-box input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #828282;
}

.input-box span {
  color: #828282;
}

h3:last-of-type {
  margin-top: 58px;
}

.last-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.last-row .input-container {
  margin: 5px 0;
  width: 45%;
}

#countries,
#postal-code {
  width: 85%;
  height: 42px;
  border: none;
  font-family: "Montserrat", sans-serif;
  color: #333;
  font-size: 16px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 22px 0;
}

input[type="checkbox"] {
  position: relative;
  width: 21px;
  height: 21px;
  color: #363839;
  border: 1px solid #bdc1c6;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]::before {
  position: absolute;
  content: "";
  display: block;
  top: 2px;
  left: 7px;
  width: 4px;
  height: 10px;
  border-style: solid;
  border-color: #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

input[type="checkbox"]:checked {
  color: #fff;
  border-color: #f2994a;
  background: #f2994a;
}

input[type="checkbox"]:checked::before {
  opacity: 1;
}

.checkbox-container label {
  margin-left: 10px;
  font-size: 12px;
  color: #4f4f4f;
  font-style: normal;
}

.button {
  margin-left: auto;
  text-align: center;
  padding: 17px;
  border-radius: 12px;
  width: 156px;
  height: 54px;
  color: #fff;
  background: #F2994A;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

footer {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #a9a9a9;
  margin: 38px auto 20px;
}

footer a {
  text-decoration: none;
  color: #a9a9a9;
}